
.idea/.name
*.xml
*.iml
*.cmake
cmake-build-debug/CMakeCache.txt
*.bin
*.exe
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
*.check_cache
*.log
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/Makefile2
*.make
*.includecache
*.internal
cmake-build-debug/CMakeFiles/Organizador_de_Trems.dir/link.txt
cmake-build-debug/CMakeFiles/Organizador_de_Trems.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/Organizador_de_Trems.dir/main.c.obj
cmake-build-debug/CMakeFiles/Organizador_de_Trems.dir/objects.a
cmake-build-debug/CMakeFiles/Organizador_de_Trems.dir/objects1.rsp
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
cmake-build-debug/Organizador_de_Trems.cbp
cmake-build-debug/Organizador_de_Trems.layout
CMakeLists.txt
